* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.book-card {
  border: 1px solid black;
  margin: 10px 5% 10px 5%;
  text-align: center;
  padding: 10px;
  flex-wrap: wrap;

  width: 90%;
  background-color: whitesmoke;
}

.book-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: top;
  background-color: lightgrey;
}
.book-title {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px;
}
.title-author {
  display: inline-block;
  direction: ltr;
}
p {
  width: 80%;
}
h1 {
  background-color: rgb(4, 4, 4);
  color: whitesmoke;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.author {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.url {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.created_at {
  float: right;
}
